*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root{
    --color-dark: rgb(7, 43, 66);
    --color-light: rgba(21, 102, 196, 1);
    --border-radious: 10px;
    --text-color: rgba(255,255,255,1);

}
body{
    background: radial-gradient(var(--color-light),var(--color-dark));
    font-family: 'Montserrat';
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* ----------------------------------------header--------------------------------------- */

.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
.header.paint{
    background: var(--color-light);
    border-bottom: 1px solid var(--color-dark);
}
.header.paint.logo-img {
    background: var(--color-light);
}
#container-header{
    padding-top: 1em ;
    padding-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 0%;
    width: 100%;
    height: 2em;
}
.logo-img {
    max-width: 100%;
    max-height: 100%;
    /* background: transparent; */
    cursor: pointer;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}
.hamburger:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: white;
}
.hamburger:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: white;
}

.menu-bar ul{
    display: flex;
    justify-content: flex-end;
}
.menu-bar ul li{
    list-style: none;
    margin-left: 2em;
    list-style: none;
    text-align: center;
}
.menu-bar ul li a{
    font-weight: 700;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 0;
    background: transparent;
    color: var(--text-color);
    transition: 0.2s  ease-in-out;
    display: block;
} 
.menu-bar ul li a:hover{
    opacity: .9;
}
.menu-bar ul li a:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: var(--text-color);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}
.menu-bar ul li a:hover:before{
    transform: scaleX(1);
}

/* -------------------------------------main-page---------------------------------- */

.main-page{
    padding: 150px 0;
}
.main-page-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-page-text{
    width: 40%;
    text-align: left;
    color: var(--text-color);
}
.main-page-text h1 , .main-page-text h4, .main-page-text ul li , .main-page-text p{
    margin-bottom: 1em;
}
.main-page-text p{
    margin-top: 1em;
    font-size: .8em;
    font-weight: 100;
    text-align: left;
}
.main-page-text h1{
    font-weight: 900;
}
.main-page-text h4{
    font-size: medium;
    margin-bottom: 1em;
    letter-spacing: 9px;
}
.main-page-text ul {
    margin-top: 2em;
}
.main-page-text ul li ,.main-page-text ul li a{
    font-size: 14px;
    list-style: none;
    transition: .2s ease-in;
}
.main-page-text ul li:hover ,.main-page-text ul li a:hover{
    opacity: .6;
}
.main-page-text ul li a{
    text-decoration: none;
    color: var(--text-color);
}
.buttons{
    margin-top: 2em;
    display: flex;
}
.btn{   
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin:  1em;
    width: 100px;
    padding: 1em;
    background: transparent;
    transition: .2s ease-in-out;
    border-radius: var(--border-radious);
    outline: none !important;
}
.btn:hover{
    color: var(--color-dark);
    background: var(--text-color);
    
}
.main-page-img{
    display: flexbox;
    float: right;
}
.main-page-img img{
    height: 500px;
    box-shadow: 1px 1px 10px 1px;
    border-radius: var(--border-radious);
}
/* -----------------------------------------------projects------------------------------------ */

.projects{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.projects-wrapper{
    margin: 40px 0;
}
.projects-wrapper h1{
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2em ;
}
.projects-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0;
}
.projects-item{
    border-radius: var(--border-radious);
    border: 2px solid var(--text-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin: .5em; */
    width: 45%;
    transition: .2s ease-in-out;
    margin-bottom: 4em;
    
}
.img{
    border-radius: var(--border-radious);
    position: relative;
    height: 100%;
    width: 100%; 
    transition: .2s ease-in-out;
}
.btn-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}
.unfinished{
    display: none;
}
.tech-used{
    display: flex;
    justify-content: center;
}
.tech-used ul li{
    font-size: 14px;
    list-style: none;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: var(--border-radious);
    padding: 4px 8px;
    background: var(--color-light);
    margin: 10px;
    text-transform: uppercase;
}

.btn-container-btn{
    display: flex;
    flex-direction: column;
}
.btn-container-btn button{
    background: var(--color-light);
    font-weight: 600;
}

.btn-container:hover{
    opacity: 1;
}
.projects-item:hover .img{
    opacity: .3;
}

/* ------------------------------------contact--------------------------------- */

.contact{     
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: var(--text-color);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}
.contact-wrapper{
    max-width: 1170px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 50%;  
}
.contact-wrapper h1{ 
    margin-bottom: 30px;
    text-align: center;
}
.contact-form form{
    display: flex;
    flex-direction: column;
}
.contact-form form label {
    display: block;
    font-size: .8em;
}
.contact-form form p{
    margin: .2em;
}

.contact-form button , .contact-form input , .contact-form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--color-light);
    border-radius: 0 var(--border-radious) var(--border-radious) var(--border-radious);
}
.upload input{
    padding-left: 0;  
    border: none;
}
.contact-form button:focus , .contact-form input:focus , .contact-form textarea:focus {
    outline: 1px solid var(--color-light);
    color: var(--color-dark);
    outline: none;
}
.contact-form button{
    color: var(--text-color);
    font-weight: 600;
    border: 2px solid var(--text-color);
    border-radius:  var(--border-radious);
    transition: .2s ease-in-out;
    background: transparent;
    text-transform: uppercase;
}
.contact-form button:hover {
    background: var(--text-color);
    color: var(--color-dark);
    transform: scale(1.02);
}


/* ------------------------------------------------footer--------------------------------- */
footer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: var(--text-color);
}

.footer-wrapper{
    margin-top: 1em;
    margin-bottom: .8em;
    text-align: center;
}
.footer-wrapper h4{
    font-size: .8em;
    font-weight: 100;
}
.footer-menu{
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    padding: 3em 0;
}
.footer-menu p , .footer-menu ul li{
    text-align: left;
    padding-bottom: 1em;
    transition: .2s ease-in;
    list-style: none;
}
.footer-menu-text a:hover{
    opacity: .6;
}
.footer-menu ul li a{
    color: var(--text-color);
    text-decoration: none;
}
.footer-menu ul li a:hover{
    opacity: .6;
}
.footer-menu-text a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.alert{
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: var(--text-color);
    margin-bottom: 10px;
    display: none;
}
    

/****************************************************************** smaller screens */


@media (max-width: 1050px){
    
    .main-page-wrapper{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .main-page-text h1{
        text-align: center ;
    }
    
    .main-page-text{
        width: 100% !important;
    }
    .main-page-text h2 , .main-page-text h4, .main-page-text ul li , .main-page-text p{
        text-align: center !important;
    }
    .buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
    }
    .projects-list{
        flex-direction: column;
    }
    .projects-item{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:900px){
    .contact-wrapper{
        width: 80%;
    }
    .header{
        flex-wrap: wrap;
    }
    .hamburger{
        display:block;
        margin: 0;
    }
    .menu-bar {
        display:none;
        width: 100%;
    }
    .container.active{
        display: flex;
        flex-direction: column;
    }
    .container.active .logo{
        display: flex;
        justify-content: space-between;
    }
    .container.active .menu-bar{
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .container.active .menu-bar ul{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .container.active .menu-bar ul li{
        margin: 1em auto;
    }
    .main-page{
        margin-top: 50px ;
        padding-top: 20px;
    }
}

@media (max-width:700px){
    .contact-wrapper{
        width: 100%;
    }
    .footer-menu{
        display: flex;
        flex-direction: column ;
        
    }
    .footer-menu p , .footer-menu ul li{
        text-align: center;
    }
    .main-page{
        padding: 0;
    }
    .main-page-img img{
        height: 390px;
    }
}


